<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>知识库</title>
  </head>
  <body>
    <form method="post">
      提问： <input type="text" name="title" autocomplete="off" required />
      <input class="btn" type="submit" name="submit" value="提交" />
    </form>
    <div>
      <h3>结果</h3>
      <p>{{ result }}</p>
    </div>
  </body>
</html>
